@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Yeseva+One&display=swap");

.footerContaine {
  background-color: #150e1b;
  width: 100%;
}

.infoFooter {
  color: #ffffff;
}

.infoFooter h2 {
  font-family: "Yeseva One", cursive;
  font-size: 2.5rem;
}
