@import url("https://fonts.googleapis.com/css2?family=Shrikhand&family=Yeseva+One&display=swap");

.headerBanner {
  display: flex;
  flex-direction: column;
}

.principalText {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.principalText p {
  font-family: "Shrikhand", cursive;
  font-size: 55px;
  color: #212121;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Yeseva One", cursive;
  font-size: 24px;
}

.info h4 {
  color: #dbb78e;
  margin: 1rem;
}
