.titles {
  color: #ffffff;
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titles p {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
}

.titles h3 {
  font-size: 1.7rem;
  font-family: "Yeseva One", cursive;
  text-decoration: underline wavy #9377a9;
}

.infoSet {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  color: #000000;
  margin: 3vh;
}

.squareInfo {
  background-color: #dbb78e;
  width: 320px;
  padding: 0.5rem;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.squareInfo h4 {
  font-size: 1.6rem;
}

.squareInfo p {
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .infoSet {
    grid-template-columns: 1fr 1fr;
  }
}
