.socialMedia {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.socialMedia h2 {
  color: #ffffff;
  font-family: "Yeseva One", cursive;
  text-decoration: underline wavy #9377a9;
}

.socialMedia p {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
}

.infoSocials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.destaque {
  color: #9377a9;
  font-family: "Yeseva One", cursive;
}

.destaque a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  .infoSocials {
    display: flex;
    justify-content: center;
  }
}
